<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node file system</title>
</head>
<body>
    <h1>hello from Users page...</h1>
    <form action="/api/registration" method="post">
        <label for="name">Full Name</label>
        <input type="text" name="name">
        
        <label for="name">Age</label>
        <input type="text" name="age">
        <button type="submit">save</button>
    </form>
</body>
</html>